@charset "UTF-8"; 
:root {
  --bgWhite:#ffffff;
  --bgTrasW:rgba(255,255,255,0.7);
  --bgTrasW2:rgba(255,255,255,0.85);
  --bgPink:#F6D7F0
}


body { font-family:Verdana, Geneva, Tahoma, sans-serif;
  background: #3257f1;
  background: linear-gradient(151deg,#3257f1 20%, #bcfff5 60%, #ffffff 75%, #eca7df 95%, #f897d6 100%);
}

.container {  
  display:flex;
  flex-direction: column;
  row-gap:2em;
  height:100vh;
  max-width:1000px;
  overflow-y:auto;
  padding:3rem 1rem;
  margin:auto;
}
.container form { 
  display:flex;
  column-gap:2rem;
}
.container input { 
  width:100%;
  height:40px;
  outline:none;
  border: none;
  padding: 0 10px;
  border-radius:4px;
  background:var(--bgTrasW2);
}
.container input:focus{background:var(--bgWhite);}
.container button { 
  width:200px;
  height:40px;
  border-radius:4px;
  outline:none;
  border: none;
  cursor: pointer;
  background:var(--bgTrasW);
  transition:.3s;
}
.container button:hover { background:var(--bgWhite);}

.blocks { 
  flex:1;
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  column-gap: 3rem;
}
.block { 
  display:flex;
  flex-direction:column;
  row-gap:1.5rem;
  background:var(--bgTrasW2);
  padding:1.5rem;
  border-radius:4px;
  box-shadow:1px 1px 5px rgba(0,0,0,0.7);
}
.list { 
  flex:1;
  display:flex; flex-direction:column; row-gap:0.8rem;
}
.item { 
  background:var(--bgWhite);
  padding:1rem;
  border-radius:4px;
  box-shadow:0 0 3px rgba(0,0,0,0.3);
  cursor: pointer;
}
.item:hover { background:var(--bgPink);}


  @media (max-width:750px){
    .blocks { 
      display:flex;
      flex-direction:column;
      row-gap:1rem;
      column-gap: 3rem;
    }
    .block {
      flex:1;
      row-gap: 1rem;
    }
  }

